@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika&display=swap');
* {
    font-family: "Roboto";
}

.side-drawer {
    height: 33%;
    background: #264653;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .side-drawer li {
    margin: 0.5rem 0;
  }
  
  .side-drawer div {
    text-decoration: none;
    color: #D3F3EE;
    font-size: 1.2rem;
    line-height: 32px;
  }
  
  .side-drawer div:hover,
  .side-drawer div:active {
    color: #D3F3EE;
    text-decoration: none !important;
  }
  .side-drawer a:hover,
  .side-drawer a:active {
    color: #23EDE8;
    text-decoration: none !important;
  }
  
  @media screen and (min-width: 991px) {
    .side-drawer {
      display: none;
    }
    .alert-heading.h4{
      color:#E76F51
    }
  }
  