@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika&display=swap');
*{
    font-family: "Roboto";
    color: #fffff;
    line-height: 32px;
    font-weight: 400px;
    font-size: 20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika&display=swap');
.page-container{
    text-align: center;
    margin-top:20px;
}
.react-pdf__Page{
    display: flex;
    justify-content: center;
}
.react-pdf__Page__textContent{
    display: none;
}
.page-btn{
    background-color: #08fdd8;
    border:#08fdd8;
    margin: 20px;
    border-radius: 5px;
    min-width: 73px;
}
@media (max-width:768px) {
    /* .react-pdf__Page__canvas{
        display:none !important;
    }
    .react-pdf__Page__textContent{
        display: unset ;
        position:unset;
    } */
    *{
        font-size:14px !important;
        line-height: 20px !important;
      }
}