@font-face {
  font-family: "Futura";
  src: url(../font/FuturaMediumBT.ttf);
}
* {
  /* font-family: 'Inconsolata', monospace; */
  font-family: Futura;
}
.toolbar {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background-color:transparent;
    height: 150px;
    padding: 37px 0;
  }
  
  .toolbar_navigator {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }
  
  /* .toolbar_logo {
    margin-left: 3rem;
  } */
  
  .toolbar_logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .toolbar_navigation-items li {
    padding-left:47px;
  }
  
  .toolbar_navigation-items li {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
  }
  /* .toolbar_navigation-items li :hover{
    color:#23EDE8;
    text-decoration: none;
  }
   */
  .toolbar_navigation-items div:hover,
  .toolbar_navigation-items div:active {
    color:#23EDE8;
    text-decoration: none !important;
  }
  .toolbar_navigation-items a:hover,
  .toolbar_navigation-items a:active {
    color:#23EDE8;
    text-decoration: none !important;
  }
  @media screen and (max-width: 991px) {
    .toolbar_navigation-items {
      display: none;
    }
    .toggle-btn {
      display: flex;
      justify-content: flex-end;
    }
  }
  
  @media screen and (min-width: 992px) {
    .toggle-btn {
      display: none;
    }
  
    /* .toolbar_logo {
      margin-left: 0;
    } */
  }
  