@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika&display=swap');
* {
  font-family: "Roboto";
}
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:transparent;
    height: 150px;
    padding: 37px 0;
    z-index: 10;
  }
  
  .toolbar_navigator {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }
  
  .toolbar_logo img {
    max-width: 3rem;
  }
  
  .toolbar_logo a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .toolbar_navigation-items li {
    margin-left: 20px;
  }
  
  .toolbar_navigation-items li {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #ffff;
    min-width: 28%;
  }
  .toolbar_navigation-items li div {
    color: #264653;
  }

  .toolbar_navigation-items div:hover,
  .toolbar_navigation-items div:active {
    color:#E76F51;
    text-decoration: none !important;
  }
  .toolbar_navigation-items a:hover,
  .toolbar_navigation-items a:active {
    color:#E76F51;
    text-decoration: none !important;
  }
  button.btn.btn-outline-success{
    color:#264653;
    border-color: #264653;
  }
  button.btn.btn-outline-success:hover{
    color:#D3F3EE;
    border-color: #264653;
    background-color: #264653;
  }
  button.btn.btn-outline-success:active{
    color:#D3F3EE;
    border-color: #264653;
    background-color: #264653;
  }
  .fade.alert.alert-success.show >p {
    text-align: justify;
  }
  @media screen and (max-width: 991px) {
    .toolbar_navigation-items {
      display: none;
    }
    .toggle-btn {
      display: flex;
      justify-content: flex-end;
    }
    .fade.alert.alert-success.show{
      min-width: 100% !important;
      right: 40% !important;
    }
    .alert-heading.h4{
      color:#E76F51
    }
  }
  .fade.alert.alert-success.show {
    top: 45%;
    min-width: 375px;
    right: 100%;
    z-index: 10;
}
  @media screen and (min-width: 992px) {
    .toggle-btn {
      display: none;
    }
  
    /* .toolbar_logo {
      margin-left: 0;
    } */
  }
  