* {
    font-family: FZLanTingKanHei-R-Consolas;
    color:#FFFFFF;
    line-height: 32px;
    font-weight: 400px;
    font-size:18px;
}
/* .nav-container {
    display: flex;
}
.nav-logo{
    flex:0 0 50%

}
.nav-menu {
    flex:0 0 50%
}
.nav-menu-item {
    list-style-type: none;
} */
.main-container{
    background: #231F20;
}
.section-1{ 
    background: #231F20
    ;
    background-image: url(./images/section-1-img.png);
    background-size:cover;
    min-height: 877px;
}
.section-1-placeholder {
    height: 130px;
    width: auto;
}
/* .section-1-content{
    max-width: 1500px!important;
} */
.section-1-paragraph {
    color:#FFFFFF;
    padding:41px 0px 104px 20px;
}
.section-1-btn{
    background-color: none!important;
    border-color: none!important;
}
.section-1-img{
    padding-top:265px;
}
.section-2-content{
    margin-top:200px;
}
/* .section-2-img-container{
    position: relative;
    z-index: 2;
} */
/* .section-2-icon{
    position: relative;
    z-index:1;
    top:-200px;
    left:272px;
} */
.section-2-heading{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.section-2-heading-item1{
    font-size:30px!important;
}
.section-2-heading-item2{
    font-size:30px!important;
    color:#73E4E1;
}
.section-2-paragraph{
    margin-top:20px;
}
.section-2-icons{
    padding-top:82px;
}
.section-3-container{
    background-image: url(./images/section-3-bgImg.png);
    background-size:cover;
}
.section-3-content{
    margin-top:180px;

}
.section-3-heading{
    font-size:42px;
    text-align: center;
}
.section-3-rectangle{
    display: flex;
    justify-content: center;
    /* margin-top:20px;  */
    margin:20px auto 0 auto;
}
.section-3-img{
    margin-top:97px;
    display: flex;
    justify-content: center;
}
.section-3-subtitle{
    font-size: 30px!important;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 10px;
}
.section-3-subheading-container{

    text-align: center;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-3-subheading-item{
    font-size: 30px!important;
    padding-left: 10px;
}
.section-4-heading{
    font-size:42px;
    text-align: center;
    margin-top:269px;
    margin-bottom: 54px;
}
.section-4-subtitle{
    font-size:26px!important;
    margin-top:22px;
    text-align: center;
}
.section-4-heading2{
    font-size:40px!important;
    text-align: center;
    color: #73E4E1;
    margin-top:107px;

}
.section-4-subtitle2{
    font-size:36px!important;
    text-align: center;
    margin-top:49px;
}
.section-4-btn{
    margin:122px auto;
    text-align: center;
    max-width: 336px;
}
.section-4-img{
    margin-top:151px;
    text-align: center;
}
.section-4-heading3{
    font-size:42px!important;
    text-align: center;
    margin-top:107px;
}
.section-4-timer{
    margin:155px auto 0 auto;
    max-width: 612px;
}
.section-4-paragraph{
    font: size 22px!important;
    line-height: 40px!important;
    margin-top:61px;
    padding-left: 10px;
    padding-right: 10px;
}
.section-4-img2-container{
    margin:101px auto 0 auto;
    max-width: 686px;
}
.section-5-img-container{
    margin:101px auto;
}
.section-5-img{
    padding-left: 10%;
}
.section-5-btn-container{
    margin:121px auto;
    max-width: 270.67px;

}
@media (max-width:992px) {
    .section-1-img{
        padding-top:50px;
    }
    .section-2-heading{
        padding-top:82px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-2-paragraph{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:768px) {
    .section-1-title{
        width:inherit;
    }
    .section-3-rectangle >img{
        width: 100%;
    }
}